<a href="https://colab.research.google.com/github/Rajkumar-DDE/Python-_for_Oil_and_Gas_Industry-/blob/main/Python_for_Oil_%26_Gas_Industry__Day_4__Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables Function

**Variables are used for "Storing Data Values**

In [1]:
#Example of Variables

In [2]:
a=7
b=9

In [4]:
print(a)
print(b)

7
9

In [3]:
print(a+b)

16

In [5]:
# You can update the variables

In [6]:
a=9
b=987654432

In [7]:
print(a)
print(b)

9
987654432

In [8]:
print(a+b)

987654441

# We can store any Data type in a Variables

*   float (4.56)
*   Complex number (5+7j)
*   Variables ("rajkumar")

In [11]:
c= 4.56
d= 5+7j

In [12]:
print(c)
print(d)

4.56
(5+7j)

In [13]:
e="Rajkumar"

In [14]:
print(e)

Rajkumar

# Rules For Variable Names

1.   Variable always start with a litter or an underscore
2.   Variable name only contains alphabets, numeric values and underscore
3.   Variable names never start with number
4.   Variable names are case sensitive

In [15]:
# Applying Rule No 1 (Variable always start with a litter or an underscore)

In [16]:
xyz= 345

In [17]:
_xyz= 345

In [21]:
print(xyz)
print(_xyz)

345
345

In [22]:
print(xyz+_xyz)

690

In [18]:
1xyz = 345

SyntaxError: invalid decimal literal (ipython-input-2185871215.py, line 1)

In [19]:
_1xyz = 345

In [20]:
1_xyz = 345

SyntaxError: invalid decimal literal (ipython-input-779284276.py, line 1)

In [23]:
# Applying Rule No 2 (Variable name only contains alphabets, numeric values and underscore)

In [24]:
_cd34= 45678

In [25]:
cd_34= 3456

In [26]:
_cd23@ = 4567

SyntaxError: invalid syntax (ipython-input-847656425.py, line 1)

In [27]:
# Applying Rule No 3 (Variable names never start with number)

In [28]:
rty = 34567

In [29]:
_rty = 35467

In [30]:
123rty = 4567

SyntaxError: invalid decimal literal (ipython-input-2036941982.py, line 1)

In [31]:
# Applying Rule No 4 (Variable names are case sensitive)

In [34]:
raj = 345
Raj = 567

In [35]:
print(raj)
print(Raj)

345
567

In [38]:
print(raj + Raj)

912